.BoxTop1 {
  border: black solid;
  min-width: 400px;
  min-height:  600px;
  justify-content: center;
  margin-top: 100px;
  display: flex;
  flex-direction: column-reverse;
}

body{
  display: flex;
  justify-content: center;
}

.buttonBox {
  
  
  min-height: 65%;
  min-width: 90%;
  margin: 15px;
  margin-top: 5px;
  display: flex;
  flex-direction: column-reverse;
}

.displayBox {
  
  border: black solid;
  min-height: 25%;
  min-width: 90%;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.innerDisplay1, .innerDisplay2 {
  border: black solid;
  min-height: 30%;
  min-width: 90%;
  display: flex;
  padding-right: 20px;
  justify-content: flex-end;
  align-items: center;
  font-size: 35px;
}

.innerDisplay1 {
  align-items: flex-end;
}
.numberButton{
  border: black solid;
  border-width: 1px;
  margin: 9px;
  margin-left: 3px;
  margin-right: 3px;
  height: 60px;
  width: 80px;
  border-radius: 5px;
  font-size: 29px;

}