.BoxTop1 {
  border-radius: 9px;
  border: black solid;
  min-width: 400px;
  min-height:  600px;
  justify-content: center;
  margin-top: 100px;
  display: flex;
  flex-direction: column-reverse;
}

body{
  display: flex;
  justify-content: center;
}

.buttonBox {
  
  
  min-height: 65%;
  min-width: 90%;
  margin: 15px;
  margin-top: 5px;
  display: flex;
  flex-direction: column-reverse;
}

.displayBox {
  border-radius: 9px;
  border: black solid;
  min-height: 25%;
  min-width: 90%;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 425px;
  
}

.innerwords {
  display: flex;
  flex-shrink: 1;
  max-width: 100%;
  font-size: 2cqw;
  text-wrap: wrap;
}

.innerDisplay1, .innerDisplay2 {
  
  min-height: 30%;
  min-width: 90%;
  display: flex;
  padding-right: 20px;
  justify-content: flex-end;
  align-items: center;
  font-size: 35px;
}

.innerDisplay1 {
  border-bottom:grey solid;
  border-bottom-width: 1px;
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  flex-shrink: 1;
  overflow: hidden;
}

.innerDisplay2 {
  border-top:grey solid;
  border-top-width: 1px;
}

.numberButton{
  border: black solid;
  border-width: 1px;
  margin: 9px;
  margin-left: 3px;
  margin-right: 3px;
  height: 60px;
  width: 80px;
  border-radius: 5px;
  font-size: 29px;

}

.clickStyle {
  color: white;
  background-color: black;
}